In [1]:
import pandas as pd

In [5]:
fremont_bridge = 'https://data.seattle.gov/api/views/65db-xm6k/rows.csv?accessType=DOWNLOAD'
bicycle_weather = 'https://raw.githubusercontent.com/jakevdp/PythonDataScienceHandbook/master/notebooks/data/BicycleWeather.csv'

counts = pd.read_csv(fremont_bridge, index_col='Date', parse_dates=True, 
                     infer_datetime_format=True)
weather = pd.read_csv(bicycle_weather, index_col='DATE', parse_dates=True, 
                      infer_datetime_format=True)

counts.head()

,Fremont Bridge East Sidewalk,Fremont Bridge West Sidewalk
Date,,
2019-04-30 23:00:00,8.0,16.0
2019-04-30 22:00:00,15.0,29.0
2019-04-30 21:00:00,17.0,54.0
2019-04-30 20:00:00,58.0,91.0
2019-04-30 19:00:00,106.0,175.0

In [3]:
daily

            Fremont Bridge East Sidewalk  Fremont Bridge West Sidewalk
Date
2012-10-03                        1760.0                        1761.0
2012-10-04                        1708.0                        1767.0
2012-10-05                        1558.0                        1590.0
2012-10-06                        1080.0                         926.0
2012-10-07                        1191.0                         951.0
2012-10-08                        1829.0                        1708.0
2012-10-09                        1759.0                        1742.0
2012-10-10                        1648.0                        1587.0
2012-10-11                        1579.0                        1468.0
2012-10-12                        1022.0                         989.0
2012-10-13                         415.0                         351.0
2012-10-14                         427.0                         271.0
2012-10-15                        1200.0                        1073.0
2012-10-16                        1559.0                        1477.0
2012-10-17                        1647.0                        1596.0
2012-10-18                        1449.0                        1474.0
2012-10-19                         965.0                        1012.0
2012-10-20                         586.0                         482.0
2012-10-21                         540.0                         449.0
2012-10-22                        1088.0                        1041.0
2012-10-23                        1263.0                        1237.0
2012-10-24                        1250.0                        1179.0
2012-10-25                        1361.0                        1352.0
2012-10-26                        1039.0                        1034.0
2012-10-27                         289.0                         242.0
2012-10-28                         611.0                         451.0
2012-10-29                        1146.0                        1071.0
2012-10-30                         912.0                         823.0
2012-10-31                         883.0                         827.0
2012-11-01                        1061.0                        1030.0
...                                  ...                           ...
2019-04-01                        1629.0                        2702.0
2019-04-02                        1695.0                        2766.0
2019-04-03                        1192.0                        1992.0
2019-04-04                        1568.0                        2488.0
2019-04-05                         855.0                        1531.0
2019-04-06                         332.0                         379.0
2019-04-07                         562.0                         644.0
2019-04-08                        1018.0                        1681.0
2019-04-09                        1252.0                        2095.0
2019-04-10                        1032.0                        1707.0
2019-04-11                         897.0                        1420.0
2019-04-12                        1193.0                        1748.0
2019-04-13                         361.0                         436.0
2019-04-14                         475.0                         510.0
2019-04-15                        1450.0                        2312.0
2019-04-16                        1378.0                        2221.0
2019-04-17                        1395.0                        2293.0
2019-04-18                        1019.0                        1648.0
2019-04-19                         790.0                        1431.0
2019-04-20                         943.0                        1093.0
2019-04-21                         698.0                         862.0
2019-04-22                        1105.0                        1870.0
2019-04-23                        1402.0                        2410.0
2019-04-24                        1741.0                        2690.0
2019-04-25                        1510.0                        2460.0
2019-04-26                        1465.0                        2374.0
2019-04-27                         686.0                         833.0
2019-04-28                        1081.0                        1168.0
2019-04-29                        1658.0                        2858.0
2019-04-30                        1844.0                        3084.0

[2401 rows x 2 columns]

In [ ]:
daily['Total'] = daily.sum(axis=1)
daily = daily[['Total']] # remove other columns

weather_columns = ['PRCP', 'SNOW', 'SNWD', 'TMAX', 'TMIN', 'AWND']
daily = daily.join(weather[weather_columns], how='inner')

# Make a feature for yesterday's total
daily['Total_yesterday'] = daily.Total.shift(1)
daily = daily.drop(index=daily.index[0])
    

daily = load()